/* Website */

html, body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   margin: 0;
   display: flex;
   font-size: 1em;
   font-weight: 400;
   line-height: 1.5;
   color: #1c1c1c;
   text-align: left;
}

.one {
    background-image: url('./Images/wp3809967.jpg');    
    height: 1000px;
    width: 1920px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.two {
    color: white;
    background-color: black;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.two1 {
    display: flex;
    justify-content: center;
}

.two21 {
    
}

.two22 {
    
}

.two23 {
    
}

.two24 {
    
}

.two25 {
    
}

.two26 {
    
}

.two27 {
    
}

.three {
    color: white;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.three1 {

}

.three2 {
    display: flex;
    align-items: center;
}

.three21 {
    color: white;
    text-decoration: none;
}

a:hover {

}

a:visited {
    
}

* {
    border: 1px solid brown;
    padding: 5px;
}
