/* Website */

html, body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   margin: 0;
   display: flex;
   font-size: 1em;
   font-weight: 400;
   line-height: 1.5;
   color: #1c1c1c;
   text-align: left;
}

.one {
    background-image: url(https://elearning.theteflacademy.com/pluginfile.php/1/theme_synergycustom/loginbackground/1664959616/loginbg2.jpeg);    
    height: 1000px;
    width: 1920px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.two {
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: 500px;

}

.two1 {
    display: flex;
    justify-content: center;
    background-color: rgb(46, 151, 154);
}

.two1 img {
    width: 120px;
    height: 70px;
}

.two2 {
    background-color: white;
    padding: 30px;
}

.two21 input {
    height: 20px;
}

.two22 input {
    height: 20px;
}

.two23 {
    display: flex;
    align-items: center;

}

.two231 {
    display: flex;
    align-items: center;
}

.two24 {
    
}

.two25 {
    
}

.two26 {
    
}

.two27 {
    
}

.three {
    color: white;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.three1 {

}

.three2 {
    display: flex;
    align-items: center;
}

.three21 {
    color: white;
    text-decoration: none;
}

a:hover {

}

a:visited {
    
}

* {
    border: 1px solid brown;
    padding: 5px;
}
