/* Website */

html, body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
   margin: 0;
   display: flex;
   font-size: 1em;
   font-weight: 400;
   line-height: 1.5;
   color: #1c1c1c;
   text-align: left;
}

.one {
    background-image: url(https://elearning.theteflacademy.com/pluginfile.php/1/theme_synergycustom/loginbackground/1664959616/loginbg2.jpeg);    
    height: 1000px;
    width: 1920px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.two {
    margin: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;

}

.two1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(46, 151, 154);
    height: 120px;
}

.two1 img {
    width: 120px;
    height: 70px;
}

.two2 {
    background-color: white;
    padding: 30px;
}

.two21 input {
    height: 30px;
    margin: 10px 0;
    font-size: larger;
    width: 100%;
}

.two22 input {
    height: 30px;
    margin: 10px 0;
    font-size: larger;
    width: 100%;
}

.two23 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: larger;
    margin-bottom: 20px;
}


.two231 button {
    display: flex;
    align-items: center;
    height: 15px;
    margin-right: 10px;
}

/* Toggle when click button that check mark  */

.two24 button {
    margin: 10px 0;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    background-color: rgb(46, 151, 154);
    border-radius: 7px;
    border-width: 0px;
    color: white;
    /* flex: 1 0 0; */
    
    
}

.two25 {
    margin-top: 30px;
}

.two25 a {
    display: flex;
    color: rgb(46, 151, 154);
    text-decoration: none;
}

.two26 {
    margin-top: 20px;
}

.two27 {
    
}

.three {
    color: #1c1c1c;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
}

.three1 {
    font-size: larger;
    font-weight: 500;
}

.three2 {
    display: flex;
    align-items: center;
    display: inline;
    margin-top: 10px;
}

.three21 {
    color: blue;
    text-decoration: none;
}

a:hover {

}

a:visited {
    
}

/*

* {
    border: 1px solid brown;
    padding: 5px;
}
